body{
    padding-top: 100px;
}
form{
    color: white;
}
.contact-form{
    display: flex;
    flex-direction: column;
    & input{
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    & textarea{
        width: 400px;
        height:400px
    }
}